body, header, img, nav, ul, li, aside, h2, section, h1, figure, p, ol, form, label, select, option, footer {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    border: 0px 0px 0px 0px;
}

header img {
    float: left;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

nav {
    float: right;
}

body {
    font: inherit;
    line-height: 1.5;
}

li {
    display: block;
    text-align: left;
}

img {
    max-width: 100%;
}

aside {
    display: inline-block;
    margin-right: 15px;
    width: 18%;
}

section {
    display: inline-block;
    margin-left: 5px;
    width: 78%;
}