body, header, img, nav, ul, li, aside, h2, section, h1, figure, p, ol, form, label, select, option, footer {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    border: 0px 0px 0px 0px;
}

body {
    font: inherit;
    line-height: 1.5;
}

li {
    text-align: left;
}

img {
    width: 100%;
}

aside {
    width: 18%;
}

section {
    width: 78%;
}