body, header, div, img, nav, ul, li, aside, h2, section, h1, figure, p, ol, form, label, select, option, footer {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    border: 0px 0px 0px 0px;
    vertical-align: baseline;
    line-height: 1.5;
}

header {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    margin-bottom: 15px;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li a {
    padding: 20px;
    display: block;
}

body {
    width: 60%;
    margin: 0 auto;
    font: inherit;
}

li {
    text-align: -webkit-match-parent;
    display: list-item;
}

img {
    max-width: 100%;
}

aside {
    display: inline-block;
    margin-left: 10%;
}

.ingredients-list li {
    margin: 10px 0;
}

section {
    display: table;
}

section img {
    width: 100%;
}

input {
    display: block;
}

input[type="radio"] {
    display: inline-block;
}

select {
    display: block;
    margin: 10px 0;
}

footer p {
    text-align: right;
}